/* $Id */

/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */

#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}

#content {
  width: 960px;
}
body.sidebar-second #content {
  width: 600px;
  left: 260px; /* LTR */
}
body.sidebar-first #content {
  width: 600px;
}
body.two-sidebars #content {
  width: 600px;
  left: 260px;
}

#sidebar-second {
  width: 260px;
  left: -600px; /* LTR */
}

body.two-sidebars #sidebar-second {
  left: -600px; /* LTR */
}

#sidebar-first {
  float: right; /* LTR */
  width: 260px;
}

.section {

}

#page-wrapper {
  width: 960px;
  margin: 0 auto;
}

ul.links li {
  padding: 0;
}

.block ul {
  padding: 0;
}

.sidebar .block ul {
  padding:0 0 0.25em 1em;
}


/**********************************************************
 *                    Body
 **********************************************************/
body {
  font-family: Arial, Helvertica, Verdana, Geneva, "DejaVu Sans", sans-serif;
  color: #666;
}

/**********************************************************
 *                 HTML Elements
 **********************************************************/

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.7em;}
h3 { font-size: 1.5em;}
h4 { font-size: 1.2em;}
h5 { font-size: 1.1em;}
h6 { font-size: 1.0em;}

p {}

strong {}
em, dfn {}
dfn {}

sup, sub {}

del {}
ins {}

blockquote {}
cite {}
q {}

address {}

ul {}
ol {}
li {}

dl {}
dd {}
dt {}


abbr {}
acronym {}

pre, code, tt {}
p code {}
samp {}
kbd {}
var {}

/**********************************************************
 *                 Global Link Styles
 **********************************************************/
a {
  text-decoration: none;
  color: #126c5a;
}

a:link    {}
a:visited {}
a:hover   {
  color: #999;
  text-decoration: underline;
}
a:active  {

}
a.active  {

}

/* Set global a:active and a:focus styles. */
a:active,
a:focus {
  color: #C00000;
  border: 0;
}

/* Drupal sets this to black. */
li a.active {
}

/* Remove borders on linked images. */
a img {
  border: none;
}

/**********************************************************
 *                    Secondary menu
 **********************************************************/

#secondary-menu {
  text-align:right;
}


/**********************************************************
 *                     Navigation
 **********************************************************/
 
#block-system-main-menu {
  background: #1F836F;
  height: 42px;
}

#block-system-main-menu a {
  color: #fff;
}

#block-system-main-menu ul li a {
  line-height: 42px;
  height: 42px;
  display: block;
  float: left;
  padding: 0 15px;
  font-size: 1em;
  font-size: 1.5em;
}

#block-system-main-menu ul li a:hover,
#block-system-main-menu ul li a.active {
  background: #C4EB17;
  color: #fff;
  text-decoration: none;
}

#block-system-main-menu ul.menu li {
  display: block;
  padding: 0;
  list-style: none;
  float: left;
}






/* Breadcrumb */
#breadcrumb {
  clear: both;
  font-size: 12px;
  padding: 10px 0;
}


/* block */

.block h2 {
  font-weight: normal;
  color: #333;
  padding: 0;
  margin: 1em 0 0.5em;
}



.submitted {
  font-size: 0.8em;
}

.node .content {
  padding: 0 0 20px; 
}

.links {
  font-size: 1em;
}

ul.links li {
  padding: 0 0.8em 0 0;
}

.node h2 {
  border-left: 32px solid #C4EB17;
  padding-left: 10px;
}

.node h2 a:hover {
  background: #1F836F;
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #FFF;
  margin: 0;
  padding: 0 !important;
  font-size: 0.9em;
}

/**
 * Custom style for teamb css.
 */
#site-slogan { display: none !important; }

/* Container */
#container {

}

/* Header */
#header-wrapper {
  background: none repeat scroll 0 0 #221F1E;
  border-top: 1px solid #999;
  border-bottom: 10px solid #289698;
}

#header {
  width: 940px;
  margin: 0 auto;
}

#header-wrapper #logo-slogan-bg-img {
  background: none !important;
  background-color: #221f1e !important;
}

/* Menu */
#block-system-main-menu {
  margin-top: 20px;
  background-color: #221f1e;
}

#block-system-main-menu .content .menu li {
  margin: 0 0.5em 0 0;
}

#block-system-main-menu .content .menu li a {
  border-radius-topleft: 4px;
  border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-left-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: none repeat scroll 0 0 #403E3D;
  color: #FFF;
  font-weight: bold;
}

#block-system-main-menu .content .menu li a.active,
#block-system-main-menu .content .menu li a:hover {
  background: #289698;
}

#block-system-main-menu ul.contextual-links li a {
  font-size: 1em;
  height: auto;
  line-height: 1em;
  padding: 0.25em 1em 0.25em 0.5em;
}

#block-system-main-menu ul.contextual-links li a:hover {
  background-color: #bfdcee;
}

/* Content */
#content-wrapper {
  width: 940px;
  margin: 0 auto;
}

/*#page-title {
  background: none repeat scroll 0 0 #403E3D;
  color: #FFFFFF;
  padding: 0.3em 0.5em;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}*/

/* Overrided */
.comment, #comments h2.title {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}

#comments .box,
#comments h2.title.comment-form,
.sidebar .block h2 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-left-radius: 4px;
  -o-border-top-right-radius: 4px;
}

/* Sidebar */
.sidebar .block h2,
#comments h2.title {
  background: none repeat scroll 0 0 #289698;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em 0.5em;
  margin-bottom: 0;
}

.sidebar .block .content {
  background: none repeat scroll 0 0 #F3F9F9;
  border: 1px solid #ccc;
  padding: 0.4em;
}

/* Footer */
#footer-wrapper {
  clear: both;
  min-height: 50px;
  background: #221f1e;
  padding: 10px 0 0 0;
  margin-top: 10px;
}

#footer-wrapper #footer {
  width: 940px;
  margin: 0 auto;
}

/* Comment */
#comments #comment-form, .sidebar .block .content  {
  /*background: none repeat scroll 0 0 #ebebeb;*/
  border: 1px solid #ccc;
  border-top: 0;
  margin-bottom: 1em;
  padding: 1em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
}

.comment {
  background: url('comment-bg.png') repeat-x scroll 0 0 #FEFEFE;
  border: 1px solid #ccc;
  padding: 0.5em 0.7em;
  margin-top: 0.8em;
}

#comments h2.title {
  border: 0;

}

#comments h2.comment-form {
  background: none repeat scroll 0 0 #C53729;
  margin-top: 2em;
}

.comment h3 {
  margin: 0.3em 0 0 0;
  font-size: 1.2em;
}

.comment .submitted {
  color: #999;
}

.comment .content > * {
  font-size: 1em;
  color: #000;
}

.comment .links {
  float: right;
}

.filter-wrapper { border: 0; }

/* Buttons */
.form-submit {
  background: #c53729 url('button-shadow.png') repeat-x;
  border: 1px solid #c53729;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
}

.form-submit:hover {
  background-color: #ff6600;
  border-color: #eb4400;
}

/* Sidebar search box */
.sidebar .block-search h2 {
  display: none;
}

.sidebar .block-search .content {
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin-top: 2em;
  text-align: center;
}

.sidebar #search-block-form .form-text {
  font-size: 1.2em;
  width: 130px;
}

/* Minor styles */
.content table {
  width: 100%;
}

.clear {
  clear: both;
}
ul li.leaf { list-style-image: none; list-style-type: disc; }
